<%= form_with(model: committee, local: true) do |form| %>
  <% if committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :administration_id %>
    <%= form.number_field :administration_id, id: :committee_administration_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :committee_name %>
  </div>

  <div class="field">
    <%= form.label :num_of_faculty %>
    <%= form.number_field :num_of_faculty, id: :committee_num_of_faculty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
